[project]
	description = Freescale Vybrid TWR SDK
[access "refs/*"]
	owner = group user/juan-gutierrez (juan-gutierrez)
[access "refs/for/refs/*"]
	read = group user/juan-gutierrez (juan-gutierrez)
	push = group user/juan-gutierrez (juan-gutierrez)
	label-Code-Review = -2..+2 group user/juan-gutierrez (juan-gutierrez)
	label-Verified = -1..+1 group user/juan-gutierrez (juan-gutierrez)
	rebase = group user/juan-gutierrez (juan-gutierrez)
	removeReviewer = group user/juan-gutierrez (juan-gutierrez)
	submit = group user/juan-gutierrez (juan-gutierrez)
[access "refs/heads/*"]
	read = group user/juan-gutierrez (juan-gutierrez)
	create = group user/juan-gutierrez (juan-gutierrez)
	push = +force group user/juan-gutierrez (juan-gutierrez)
	pushMerge = group user/juan-gutierrez (juan-gutierrez)
[access "refs/tags/*"]
	push = +force group user/juan-gutierrez (juan-gutierrez)
	pushTag = group user/juan-gutierrez (juan-gutierrez)
	pushSignedTag = group user/juan-gutierrez (juan-gutierrez)
